aside {
	border-bottom: 1px solid var(--c-grey-200);
	margin-bottom: var(--sp-base);
	padding-bottom: var(--sp-base);

	& .aside-title {
		font-size: 2.5rem;
		margin: 0 0 5px 0;
	}

	&:last-child {
		border-bottom: none;
	}
}
