.button {
	background: transparent;
	border: 1px solid var(--c-10up-red);
	border-radius: 5px;
	color: var(--c-10up-red);
	cursor: pointer;
	transition: all 0.3s;

	&:focus,
	&:hover {
		background: var(--c-10up-red);
		color: var(--c-white);
	}
}
