.content-card__title {
	color: var(--c-black);
	font-size: 7rem;
	line-height: 1.125;
	font-weight: 400;
}

.content-card__content {
	font-size: var(--fs-plus-2);
}

.content-card__title-decorator {
	font-size: 2rem;
}
