.content-card {
	border: 1px solid var(--c-black);
}


.content-card__title {
	border-bottom: 1px solid var(--c-black);
	color: var(--c-black);
	font-family: var(--font-serif);
	font-size: var(--fs-plus-5);
	line-height: 1.125;
	padding: var(--sp-m) var(--sp-l);
}

.content-card__content {
	font-size: var(--fs-plus-2);
	padding: var(--sp-l);
}
