.site-navigation {
	display: flex;
	align-items: center;

	& a {
		color: var(--c-black);
		text-decoration: none;

		&:hover {
			color: var(--c-red);
			text-decoration: underline;
		}
	}
}

.site-navigation__separator {
	margin: 0 var(--sp-l);
}
