.site-navigation {
	border-top: 4px solid var(--c-black);
	display: flex;
	font-family: var(--font-sans);

	& a {
		border-left: 1px solid var(--c-black);
		color: var(--c-black);
		padding: var(--sp-s) var(--sp-m);
		text-decoration: none;

		&:hover {
			color: var(--c-red);
			text-decoration: underline;
		}

		&.site-navigation__repo {
			margin-left: auto;
			text-align: center;
		}

		&:first-child {
			border: none;
			padding: var(--sp-s) 0;
		}
	}
}
