.site-header {
	margin-bottom: 3rem;
	margin-top: 5rem;
	max-width: 620px;

	@media (--bp-large) {
		margin-left: 6%;
	}
}

.site-title {
	font-family: var(--font-sans);
	font-size: 2.25rem;
	letter-spacing: -0.125rem;
	margin-bottom: var(--sp-s);
	margin-top: var(--sp-l);
}


.site-header__logo {
	height: 50px;
	width: 50px;
}

