@import url("@10up/component-navigation");

.site-navigation nav {

	@media (hover: hover), (-ms-high-contrast: none) {

		& a:hover {
			background: var(--c-white);
			color: var(--c-red);
		}
	}

	& > ul {
		background-color: var(--c-white);
		display: none;
		list-style-type: none;
		margin: 0;
		padding: 0;

		@media (--bp-medium) {
			align-items: center;
			display: flex;
			height: 100%;
		}

		&[aria-hidden="false"] {
			border-top: 1px solid var(--c-grey-100);
			display: block;
			left: 0;
			padding-left: var(--gutter);
			position: absolute;
			top: 90px;
			width: 100%;

			@media (--bp-large) {
				border: none;
				display: flex;
				left: auto;
				padding-left: 0;
				position: relative;
				top: auto;
				width: auto;
			}
		}
	}

	& li {
		position: relative;
	}

	& ul li a {
		color: var(--c-black);
		display: block;
		font-size: var(--fs-base);
		font-weight: var(--fw-bold);
		padding: 5px 10px;
		text-decoration: none;
		transition: all 0.3s;

		@media (--bp-medium) {
			padding: 10px 15px;
		}
	}

	& .current-menu-item a,
	& a:focus {
		background: var(--c-white);
		color: var(--c-red);
	}

	& .menu-item-has-children a::after {
		display: none;
	}

	& .sub-menu {

		@media (--bp-medium) {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.primary-menu-button {

	@media (--bp-large) {
		display: none;
	}

	& svg {
		height: 30px;
		width: 30px;
	}
}
