.wp-block-gutenberg-lessons-inner-blocks-one-complete__image {

	& img {
		display: block;
		height: auto;
		width: 100%;
		z-index: -1;
	}
}

.wp-block-gutenberg-lessons-inner-blocks-one-complete__content {
	background-color: #eee;
	padding: 3rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	margin-top: -6rem;
	z-index: 1;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 4px;
	min-height: 12rem;

	& > :first-child {
		margin-top: 0;
	}
	& > :last-child {
		margin-bottom: 0;
	}
}
