.wp-block-gutenberg-lessons-inner-blocks-two-card-grid-starter {
	display: block !important;
}

.wp-block-gutenberg-lessons-inner-blocks-two-card-grid-starter .block-editor-block-list__layout {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
}
