img,
svg {
	height: auto;
	max-width: 100%;
}

.icon {
	height: 1em;
	position: relative;
	width: 1em;

	& path {
		fill: currentColor;
	}
}

.wp-block-image {
	background-color: var(--c-white);
	margin: 0;

	&.is-style-slightly-rounded img {
		border-radius: 20px;
	}
}
