.call-to-action-block {
	background: white;
	border: 2px solid var(--c-red);
	padding: var(--gutter);
	position: relative;

	&:after {
		background: var(--c-red);
		position: absolute;
		right: -10px;
		bottom: -10px;
		content: '';
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.call-to-action-block__title {
	font-size: var(--fs-plus-1);
	font-style: italic;
	font-weight: 600;
}

.call-to-action-block__link {
	background-color: var(--c-red-100);
	border-radius: 5px;
	color: var(--c-white);
	font-size: var(--fs-base);
	padding: var(--sp-s) var(--sp-m);
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 300ms;

	&:hover {
		background-color: var(--c-red);
	}
}
