.site-navigation {
	align-items: center;
	display: flex;
	overflow-x: auto;

	& a {
		color: var(--c-black);
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			color: var(--c-red);
			text-decoration: underline;
		}
	}
}

.site-navigation__separator {
	margin: 0 var(--sp-s);

	@media (--bp-medium) {
		margin: 0 var(--sp-l);
	}
}
